

$color-primary : #2d2640;
$color-secondary : #95a9c6;


$color-primary-dark : #2b272f;
$color-primary-grayish : #837d87;
$color-light-gray : #fafafa;
$color-white: #fff;

$font-family: 'Karla', sans-serif;
$font-heading: 'DM Serif Display', serif;