body {
    font-size: 1.6rem;
    font-family: $font-family;
    
}

h1 {
    font-family: $font-heading;
    font-weight: 400;
    font-size: 5rem;
    color: $color-light-gray;
    line-height: 1;
    
}

h2 {
    font-family: $font-heading;
    font-weight: 100;
    font-size: 4rem;
    color: $color-primary-dark;
}

h3 {
    font-family: $font-heading;
    font-weight: 100;
    color: $color-primary-dark;
}
p { 
    font-family: $font-family;
    color: $color-light-gray;
    font-size: 1.5rem;
    font-weight: 100;
}

ul {
    font-size: 1.3rem;
    font-weight: 700;
    list-style: none;
    text-decoration: none;
    :visited, :link, :active{
        text-decoration: none;
    }

}
